/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

 @import url('https://fonts.googleapis.com/css?family=Lobster');
 @import url('https://fonts.googleapis.com/css?family=Lobster+Two');

#main.container {
  background-color: rgb(155, 163, 153);
  padding: 0;
  width: 85%;
}

a {
  color: #828282;
}

.post a, .post p {
  font-family: 'Lobster', cursive;
  color: #d5d1fc;
  font-size: 12px;
}
.post a.title {
  color: #000000;
  font-size: 16px;
}

.navbar {
  border-radius: 0;
  height: 30px;
  min-height: 30px;
}

.navbar-default {
  background-color: rgb(33, 183, 1);
}
.navbar-default .navbar-nav li a {
  color: #000000;
  padding: 0;
  line-height: 30px;
  margin-right: 1em;
}
.navbar-default .navbar-nav li a:hover {
  color: #ffffff;
}

.navbar-brand {
  padding: 0;
}
.navbar-brand a {
  font-family: 'Lobster Two', cursive;
  color: #1a02f2;
  font-size: 1.75em;
  font-weight: 600;
  padding-left: 5px;
  line-height: 30px;
  margin-right: 1em;
}

table {
  width: 100%
}

.fa-lg {
  color: #1a02f2;
}

textarea.form-control {
  width: 500px;
  height: 100px;
}

#comments {
  margin-top: 5em;
}

.lead {
  font-family: 'Lobster', cursive;
  font-size: 14px;
}
