<!DOCTYPE html>
<html>
  <head>
    <title>Achados FGA</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  </head>

  <body>

    <div id="main" class="container">
      <header class="navbar-default" role="navigation">
        
      <div id="logo" class="navbar-brand"><%= link_to "Achados", root_path %></div>
      <nav class="collapse navbar-collapse navbar-ex-1-collapse">
        <% if user_signed_in? %>
          <ul class="nav navbar-nav navbar-left">
          <li><%= link_to "submit", new_submission_path %></li>
          <li><%= link_to "account", edit_user_registration_path %></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "logout", destroy_user_session_path, :method => :delete %></li>
          </ul>
        <% else %>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "login", new_user_session_path %></li>
          </ul>
        <% end %>
        </nav>
      
      </header>
    
  	
    <% flash.each do |name, msg| %>
  		<%= content_tag(:div, msg, class: "alert alert-#{name}") %>
  	<% end %>

  	<div id"container" class="centerblock">
      <%= yield %>
    </div>
  </div>
  </body>
</html>
